{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/main.css' %}">
    <title>Привет</title>
</head>
<body>
    <div>
        <h1 style="text-align: center;">Привет!</h1>
        <h4>Ответь пожалуйста на парочку вопросов</h4>
        <a href="{% url 'questionpage' %}" style="text-align: center;">
            <div style="width: 100%; background-color: #814AE2; color: white; padding: 0.6rem; border-radius: 0.5rem;"><h2>Погнали</h2></div>
        </a>
    </div>
</body>
</html>